/* Import Sacramento font */
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

/* Root Container */
.about-page {
  display: flex;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px 20px;
  background-color: #f5f5f5; /* Light background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Sacramento", cursive; /* Apply Sacramento font */
}

.profile-image {
  width: 150px;
  height: 180px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  margin-bottom: 30px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation a {
  color: black;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}

.navigation a:hover {
  text-decoration: underline;
}

/* Main Content Styling */
.about-content {
  //margin-left: 270px;
  padding: 0px 30px; /* Top and horizontal padding */
  max-width: 800px;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Sacramento", cursive;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-text p {
  margin-bottom: 26px;
}

.about-text a {
  color: black; /* Link color */
  font-weight: bold;
  text-decoration: none;
}

.about-text a:hover {
  text-decoration: underline;
}

.projects-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: black;
  /* margin-left: 250px; */
  padding: 30px 30px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    padding: 20px;
  }

  .about-content {
    /* margin-left: 220px; */
    padding: 20px;
  }

  .profile-image {
    width: 100px;
    height: 90px;
  }

  .logo {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }

  .about-content {
    margin-left: 0;
    margin-top: 20px;
  }

  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigation a {
    margin: 5px 10px;
  }

  .profile-image {
    display: none; /* Hide profile image on very small screens */
  }
  .projects-title {
    margin-left: 0;
  }
}
