/* App.css */
.navigation {
  display: flex;
  flex-direction: column; /* Adjusted for vertical sidebar */
  align-items: flex-start;
  padding: 20px 40px;
  background-color: transparent;
  box-shadow: none;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px; /* Spacing between navigation items */
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: darkgray;
}

.nav-item.active {
  text-decoration: underline;
  font-weight: bold;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px auto;
}

.main-content {
  padding: 20px;
  flex: 1;
}

.App {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}


/* Responsive Adjustments for smaller screens */
@media (max-width: 768px) {
  .navigation {
    padding: 10px 20px;
  }

  .nav-item {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }

  .sidebar {
    width: 200px;
  }
}
