.note-container {
  font-family: "Georgia", "Times New Roman", serif; /* Elegant font */
  line-height: 1.8; /* Spaced-out text for readability */
  padding: 20px;
  margin: 20px auto;
  max-width: 600px; /* Centered container with fixed width */
  border-radius: 10px; /* Rounded corners */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  text-align: center;
  position: relative; /* Allows positioning relative to its parent */
  z-index: 1; /* Ensures it's above other elements like nav bars */
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .note-container {
    margin: 20px 10px; /* Reduce margin for smaller screens */
  }
}

/* Ensure it clears the navigation bar */
body {
  padding-left: 250px; /* Adjust this value to the width of your nav bar */
}

@media (max-width: 768px) {
  /* body {
    padding-left: 0; 
  } */
  .App {
    flex-direction: column; /* Stack Sidebar and Content */
  }
  .navigation {
    padding: 10px 20px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }

  .sidebar {
    width: 200px;
  }
}

.note-container h2 {
  text-align: center; /* Centered heading */
  font-size: 1.8rem; /* Larger heading font size */
  margin-bottom: 15px;
  font-family: "Sacramento", cursive;
  /* color: #206374; Slightly darker teal */
}

.note-container h3 {
  text-align: center; /* Centered sub-heading */
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-family: "Sacramento", cursive;
  /* color: #184c56; Darker teal */
}

.note-container p {
  font-size: 1rem; /* Standard paragraph font size */
  margin: 0;
  white-space: pre-line; /* Preserve line breaks */
}
